<h1>Add a Question</h1>
<div>
<label>Question Text:</label>
<input type="text" maxlength="50" ng-model="question" />
</div>

<div >
<label>Answer Text:</label>
<input type="text" maxlength="50" ng-model="answer1"/>
</div>
<div >
<label>Answer Text:</label>
<input type="text" maxlength="50" ng-model="answer2"/>
</div>
<div >
<label>Answer Text:</label>
<input type="text" maxlength="50" ng-model="answer3"/>
</div>
<div >
<label>Answer Text:</label>
<input type="text" maxlength="50" ng-model="answer4"/>
</div>

<ul ng-repeat="q in questions">
<li>{{q}}</li>
</ul>

<input type="button" ng-click="addQuestion()"/>
